<!-- members/templates/members/change_password.html -->

{% extends "members/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    
    <h2>Change Password</h2>

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Change Password</legend>
            {{ password_form.as_p }}
        </fieldset>

        <button type="submit" class="btn btn-warning" name="change_password">Change Password</button>
        <a href="{% url 'profile' %}" class="btn btn-danger">Cancel</a>
    </form>

</div>
{% endblock %}